/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdf6ec;
  color: #222;
}

/* NAVBAR */
.navbar {
  background-color: #222;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

 .navbar a img {
    height: 45px;
    width: auto;
    vertical-align: middle;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 34px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #7c2a2a;
}

/* BANNER */
.banner {
  background-position: center;
  padding: 1px 250px;
  text-align: center;
  color: #fff;
}

.banner h2 {
  font-size: 36px;
  background-color: #222;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
}

#livraria {
  color: #7c2a2a;
}

/* LIVROS */
.livros {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
  justify-content: center;
  margin-top: 0px;
}

.livro {
  width: 200px;
  text-align: center;
  background-color: #d8d7d7;
  border-radius: 12px;
  padding: 20px;
}

.livro img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.livro h6 {
  font-size: 16px;
  font-weight: 600;
  color:#222;
}

.livro p {
  font-size: 13px;
  font-weight: 600;
  color:#222;
}

a{
    text-decoration: none;
}

/*FOOTER*/
footer{
    background: #222;
    width: 100%;
    height: 40px; 
    font-size: 15px;
    color:#fff;
    text-align: center;
    padding: 1px 0px;
}

#figimage img {
  margin: 40px;
  background-position: center;
  padding: 1px 25px;
  color: #fff;
  margin-bottom: 75px;
}

#adicio h2{
  font-size: 36px;
  background-color: #222;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
}

