html{
    scroll-behavior: smooth;
}

.divs{
    padding-top: 2%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    background-color: rgb(255, 255, 255);
    padding-left: 5%;
    padding-right: 5%;
    filter: drop-shadow(5px 5px 5px gray);
    margin-bottom: 2%;
    border-radius: 12px;
}

.cor{
    margin-bottom: 2%;
}

.fake{
    cursor: pointer;
}

.u{
    text-decoration: none;
}

.l{
    color: rgb(81, 155, 81)
}

.sa{
   filter: drop-shadow(5px 2px 5px rgba(0, 0, 0, 0.514));
}

footer {
  background-color: rgb(81, 155, 81);
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
