body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fdf2f2;
}

.br{
    margin: 0 auto;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    width: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    margin-top: 10%;
    border-radius: 2%;
    filter: drop-shadow(10px 15px 12px gray);
}

.space{
    margin-bottom: 4%;
}

button{
    margin-top: 5%;
    width: 50%;
    padding-bottom: 1%;
    background-color: #333;
    color: white;
    border-radius: 3%;
    align-items: center;
    margin: 0 auto;
    border-color: transparent;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: #333;
}

input[type="text"]{
    width: 65%;
    padding-left: 2%;
    height: 25px;
    color: #333;
    border: 2px;
}

input[type="text"]:hover{
    color: rgb(178, 7, 194);
    background-color: rgba(212, 212, 255, 0.281);
}

input[type="email"]{
    width: 65%;
    padding-left: 2%;
    height: 25px;
    color: #333;
    border: 2px;
}

input[type="email"]:hover{
    color: rgb(178, 7, 194);
    background-color: rgba(212, 212, 255, 0.281);
}

input[type="tel"]{
    width: 65%;
    padding-left: 2%;
    height: 25px;
    color: #333;
    border: 2px;
}

input[type="tel"]:hover{
    color: rgb(178, 7, 194);
    background-color: rgba(212, 212, 255, 0.281);
}

input[type="date"]{
    width: 65%;
    border-color: gray;
    cursor: pointer;
    border: 2px;
}

input[type="date"]:hover{
    color: rgb(178, 7, 194);
    background-color: rgba(212, 212, 255, 0.281);
}

textarea{
    margin-top: 1%;
    width: 65%;
    padding-left: 2%;
    height: 25px;
    color: #333;
    border: 2px;
    padding-top: 2px;
}

textarea:hover{
    color: rgb(178, 7, 194);
    background-color: rgba(212, 212, 255, 0.281);
}

.t{
    padding-right: 55%;
}

.t2{
    padding-right: 45%;
}

.t3{
    padding-right: 55%;
}

.t4{
    padding-right: 30%;
}

.t5{
    padding-right: 52%;
}

.t6{
    padding-right: 53%;
}

.t7{
    padding-right: 47%;
}